@using CMS.Models
@model CMS.Models.B1_View.ForgotpasswordView

@{
    ViewData["Title"] = "ForgotPassword";
    Layout = null;
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
</head>
<body>
    <h3>Forgot Password </h3>
    @{
        if (TempData["Error_login_ForgotPassword"] != null)
        {
            var res = TempData["Error_login_ForgotPassword"];
        <div id="error">
            <h1>@res.ToString()</h1>
        </div>
        }
    }
    <form method="post" asp-controller="login" asp-action="ForgotPassword">
        <table border="0" cellpadding="2" cellspacing="2">
            <tr>
                <td>UserId</td>
                <td><input asp-for="UserId" name="userid" id="userid" required maxlength="30" />@*<input type="text" name="userid" id="userid" required maxlength="30">*@</td>
            </tr>
            <tr>
                <td>Pet Name</td>
                <td><input asp-for="PetName" name="petname" id="petname"  required maxlength="30" />@*<input type="text" name="petname" id="petname" required maxlength="30">*@</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td><input type="submit" value="Validate" id="validate"></td>
            </tr>
        </table>
    </form>
    @{

        if (TempData["Error_login_forgotpasswor2"] != null)
        {
            var res1 = TempData["Error_login_forgotpasswor2"];
            if (res1.ToString() != "")
            {
        <div id="error">
            <h1>@res1.ToString()</h1>
        </div>
            }
        }

        if( (TempData["Result_login_forgotpassword"] != null & TempData["Error_login_forgotpasswor2"] == null) | (TempData["Result_login_forgotpassword"] != null & TempData["Error_login_forgotpasswor2"] != null) )
        {
            var res1 = TempData["Error_login_forgotpasswor2"];
            var res2 = TempData["Result_login_forgotpassword"];

            bool case_possiable = false;
            if ((TempData["Result_login_forgotpassword"] != null & TempData["Error_login_forgotpasswor2"] != null))
            {
                res1 = TempData["Error_login_forgotpasswor2"];
                res2 = TempData["Result_login_forgotpassword"];
                if (res2.ToString() == "Sucess Detail" | res1.ToString() != "")
                {
                    case_possiable = true;
                }
            }
            else
            {
                if (res2.ToString() == "Sucess Detail")
                {
                    case_possiable = true;
                }
            }
            if (case_possiable==true)
            {
        <form method="post" asp-controller="login" asp-action="forgotpassword2">
            <table border="0" cellpadding="2" cellspacing="2">
                <tr>
                    <td>Password</td>
                    <td><input asp-for="Password" name="Password" id="password" required maxlength="30" /></td>
                    @*<td><input type="password" name="password" id="password" required maxlength="30"></td>*@
                </tr>
                <tr>
                    <td>Confirm Password</td>
                    <td><input asp-for="ConfirmPassword" name="ConfirmPassword" id="confirmpassword" required maxlength="30" /></td>
                    @*<td><input type="password" name="password2" id="confirmpassword" required maxlength="30"></td>*@
                </tr>
                @{
                            string UserIdVar = "";
                            if (TempData["UserIdValAfterValidate"] != null)
                            {
                                UserIdVar = TempData["UserIdValAfterValidate"].ToString();
                            }
                }
                <tr>
                    <td>&nbsp;</td>
                    <td>
                        <input asp-for="UserId" name="UserId" id="UserId" type="hidden"/>
                        @*<input type="hidden" value=@UserIdVar name="hiddenuserid" />*@
                        <input type="submit" value="Reset" id="reset">
                    </td>
                </tr>
            </table>
        </form>

            }
        }
    }
</body>
</html>
