@{
    ViewData["Title"] = "College Management Services";
}

<h1>Home Content</h1>
<p>
    The college management services provides a platform for both the faculty or admin and students to get in touch with the offered services. A student can register on the platform and then search or view courses offered in different branches and semesters. An admin can view courses, and delete registered students from the portal.
</p>